.title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text_filed_item {
  width: 100%;
}

.gird_item {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.paper_form {
  width: 50%;
  margin: auto;
}

.drop_img {
  width: 100%;
  height: 150px;
  border: dotted 1px;
}
.img_upload {
  max-width: 100px;
  height: auto;
  float: left;
  margin: 10px;
  border: solid 1px;
  padding: 2px;
}

.btn_form {
  width: 100%;
}

.select_gird_item {
  padding: 20px;
  text-align: left;
}

.select_item {
  width: 100%;
}

.img_loaded {
  width: 200px;
  height: auto;
  margin: 5px;
}

.card_img {
  display: inline-flex;
  margin: 15px;
}

.badge_img_loaded {
  cursor: pointer;
  transition: 0.4s;
  float: right;
}

.badge_img_loaded:hover {
  transform: rotate(180deg);
}
